@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
.navbar{
  border-bottom: 4px solid black;
  background-image: linear-gradient();
}
.navbar-brand{
  margin-left: 2rem;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}
nav{
  height: 80px;
}
.navbar-nav{
  gap: 25px;
  justify-content: center;
  margin-left: -100px;
  font-family: 'Comfortaa', cursive;
}

#Logiinnn{
  margin-right: 2rem;
  font-family:  'Comfortaa', cursive;
  display: flex;
  gap: 0.5rem;
}
#Logiinnn i {
margin-top: 3px;
margin-right: 3px;
}
